<ng-container *ngIf="field">
  <app-field-details-images [images]="field.images"></app-field-details-images>

  <div class="header">
    <h1>{{ field.name }}</h1>

    <app-rating></app-rating>

    <button mat-stroked-button color="accent">Reservar</button>
  </div>

  <mat-divider></mat-divider>

  <div class="details">
    <app-field-details-info [field]="field"></app-field-details-info>
  </div>

  <mat-divider></mat-divider>

  <div class="category-ratings">
    <app-category-rating></app-category-rating>
  </div>

</ng-container>
