:host {
  width: 100%;
  display: inline-grid;
  justify-items: center;

  >div {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;

    mat-icon {
      color: #5C6BC0;
      margin: 10px 0;
    }
  }
}

button {
  margin-top: 15px;
}
