.example-card {
  min-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.review {
  display: inline-flex;

  mat-icon {
    font-size: small;
    height: 12px;
    width: 12px;
    color: gold;
  }

  span {
    line-height: 12px;
    margin-left: 5px;
    font-size: small;
  }
}
