<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Samuel Udelman</mat-card-title>
    <mat-card-subtitle>
      <span class="review">
        <mat-icon aria-hidden="false" aria-label="star icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="star icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="star icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="star icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="half star icon">star_half</mat-icon>
        <span>4.5 (30)</span>
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Fecha: Sábado 12 Octubre</mat-list-item>
      <mat-list-item role="listitem">Hora: 9:30 a.m.</mat-list-item>
      <mat-list-item role="listitem">Lugar: por definir</mat-list-item>
      <mat-list-item role="listitem">Jugadores: 13/16</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
