:host {
  display: grid;
  grid-template-columns: 90px minmax(auto, 1fr);
  align-items: center;

  .field-pic {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 5px;
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 20px;

    mat-card-title {
      font-size: medium;
    }

    mat-card-subtitle {
      font-size: small;
    }
  }
}

:host:hover {
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
}
